h1 {
	font-family:Palatino,'Palatino Linotype',Helvetica,sans-serif;
	color:DarkBlue ;
}
.top{
	font-family:'Helvetica',sans-serif;
	font-size:28px;
	color: Gold;
	background-image:
url("https://upload.wikimedia.org/wikipedia/commons/2/21/Death_Valley_Zabriskie_Point.jpg");
height: 856px;
}
.bottom{
border: 1px solid #100
text-align:center;
padding:10px;


